<html>
    <form action='/save' method = "post">
        Year<input name = "year" type = "text" class="text">
        Category<input name = "category" type = "text" class="text">
        Member Id<input name = "member_id" type = "text" class="text">
        First Name<input name = "first_name" type = "text" class="text">
        Last Name<input name = "last_name" type = "text" class="text">
        Motivation<input name = "motivation" type = "text" class="text">
        Share<input name = "share" type = "text" class="text">
        <input type = "submit">
    </form> 
</html>